span.date {
    color: #636363;
    font-family: "Roboto", sans-serif;
    font-size: smaller;
}
body {
    font-size: 16px;
    line-height: 1.6;
}
.code {
    font-family: 'Courier New', Courier, monospace;
    color: #636363;
}
.italic {
    font-style: italic;
}
.three-quarter-col {
    width: 75%;
    max-width: 500px;
}